<form class="form-horizontal" role='form' enctype="multipart/form-data"
		action="/contest/vacation-photo/{{year}}/{{month}}" method="post">
	<div class="form-group">
		<label for="filedName" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="fieldName" name="name" />
		</div>
	</div>
	<div class="form-group">
		<label for="filedEmail" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="fieldEmail" name="email" />
		</div>
	</div>
	<div class="form-group">
		<label for="fieldPHoto" class="col-sm-2 control-label">Vacation photo</label>
		<div class="col-sm-4">
			<input type="file" class="form-control" required accept="image/*"
				id="fieldPhoto" name="photo" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-4">
			<button type="submit" class="btn btn-default">Register</button>
		</div>
	</div>
</form>

<span class="btn btn-default btn-file">
	Upload
	<input type="file" class="form-control" required accept="image/*"
		id="fieldPhoto2" data-url="/upload" multiple name="photo" />
</span>
<div id="fileUploads"></div>

{{#section 'jquery'}}
	<script src="/vendor/jqfu/js/vendor/jquery.ui.widget.js"></script>
	<script src="/vendor/jqfu/js/jquery.iframe-transport.js"></script>
	<script src="/vendor/jqfu/js/jquery.fileupload.js"></script>
	<script>
		$(document).ready(function(){
			$('#fieldPhoto2').fileupload({
				dataType: 'json',
				done: function(e, data){
					$.each(data.result.files, function(index, file) {
						$('#fileUploads').append($('<div class="upload">'
							+ '<span class="glyphicon glyphicon-ok"></span>'
							+ '&nbsp;' + file.originalName + '</div>'));
					});
				}
			});
		});
	</script>
{{/section}}

{{#section 'style'}}
	.btn-file{
		position:relative;
		overflow: hidden;
		
	}
	.btn-file input[type=file]{
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 999px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: none;
		background: white;
		cursor: inherit;
		display: block;
	}
{{/section}}
